@font-face {
  font-family: "Gadugi";
  src: url(../src/assets//fonts//GADUGI.TTF);
}

@font-face {
  font-family: "Gadugi-Bold";
  src: url(../src/assets//fonts//GADUGIB.TTF);
}

:root {
  --primary-color: #7c99ff;
  --secondary-color: #b3b3b3;
  --tertiary-color: #f0f0f0;
  --dark-color: #333;
  --dark-color-2: #555;
  --light-color: #f1eded;
}

/* Global Styling */
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  font-size: 45px;
  font-family: "Stint";
  font-family: "Gadugi", Raleway Dots, cursive;
}

h2 {
  font-size: 30px;
  color: #333;
}

h3 {
  font-size: 1.2em;
  color: #333;
}

h4 {
  font-size: 24px;
  color: #333;
}

h5 {
  font-size: 0.8em;
  color: #333;
}

h6 {
  font-size: 0.6em;
  color: #333;
}

p {
  font-size: 1.2em;
  color: #333;
  line-height: 28px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #333;
}

.btn {
  background-color: #7c99ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 60px;
  width: max-content;
  font-size: 30px;
  margin: 0 20px;
  font-weight: bold;
}

/* Header Styling */

.header {
  background-color: var(--dark-color-2);
  width: 100%;
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.logo {
  width: 70px;
  margin: 5px;
}

.text-container {
  display: block;
  line-height: 45px;
  letter-spacing: 3px;
  background-color: b3b3b3;
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 10px 10px 1px rgb(41, 41, 41);
  background-color: var(--dark-color);
}

.logo-text {
  color: var(--primary-color);
  margin: 0;
  padding: 3px;
  font-weight: bolder;
}

.fb-icon {
  height: 60px;
  width: auto;
  margin-right: 10px;
  align-items: flex-end;
}

.header-contact-container {
  display: flex;
  align-items: center;
}

/* Navbar Styling */
.navbar {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  margin: auto;
  padding: 0 20px;
  position: sticky;
  top: 0; /* Make the navbar sticky immediately at the top */
  z-index: 3;
  background-color: #7c99ff; /* Ensures visibility on scroll */
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #7c99ff;
  z-index: 1;
  border-radius: 0 0 15px 15px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 5px;
  align-items: center;
}

.navbar-links a {
  color: white;
  font-family: "Gadugi-Bold";
  width: 100px;
  text-align: center;
}

.navbar-links > :hover {
  color: #333;
  background-color: var(--light-color);
  border-radius: 10px;
}

/* Carousel Styling */
.carousel-item img {
  height: auto;
  width: 100%;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.hero-block {
  margin-top: -50px;
}

/* Service Area Styling */
.service-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  width: 100%;
  height: 100%;
  transition: all 2s ease;
}

.service-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  padding: 50px;
  border-right: #7c99ff 3px dotted;
  transition: all 2s ease;
}

.service-area-image {
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 550px;
  height: auto;
  max-height: 100%;
  border-radius: 50%;
  margin: 50px;
  object-fit: contain;
}

.service-counties {
  margin: 25px;
  margin-right: 0;
  width: 340px;
}

/* Contact Me Styling */
.contact--section {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color-2);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.contact--form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--dark-color-2);
  width: 70%;
  height: 100%;
  margin: 25px;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  background-color: var(--dark-color-2);
  width: 300px;
  height: 100%;
  gap: 25px;
  margin-top: 15px;
  padding: 0;
  justify-items: start;
  align-items: start;
  margin-right: 50px;
}

.contact--label {
  font-size: 1.2em;
  color: #ffffff;
  line-height: 28px;
  letter-spacing: 2px;
  font-size: 1.2em;
  color: #ffffff;
  max-width: 500px;
  margin: 5px;
}

.contact-container label > input {
  background-color: var(--light-color);
  border-radius: 5px;
  max-width: 100%;
}

.contact-text {
  margin: 25px;
  background-color: var(--light-color);
  border-radius: 10px;
  max-width: 40%;
  padding: 25px;
}

.contact-text p {
  font-size: 1.2em;
  color: #242424;
  line-height: 28px;
  letter-spacing: 2px;
  padding: 10px;
}

.contact-text h2 {
  font-size: 50px;
  color: #242424;
  padding: 10px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
  background-color: var(--dark-color-2);
  width: 100%;
  height: 100%;
  margin: 5px;
  margin-top: 25px;
  padding: 0;
}

.contact--input {
  background-color: var(--light-color);
  border-radius: 10px;
  max-width: 80%; 
}

.contact--form--btn {
  align-items: center;
  margin: auto;
  margin-top: 25px;
}

/* Footer Styling */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color-2);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer-text {
  color: var(--light-color);
  font-size: 1.2em;
  margin: 0;
  padding: 10px;
}

.footer-text a {
  color: var(--primary-color);
}

.footer-text a:hover {
  color: var(--dark-color);
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .contact-button {
    width: 150px;
    font-size: 20px;
  }

  .contact-container {
    width: 250px;
  }

  .logo-text {
    font-size: 38px;
  }

  .navbar {
    width: 80%;
  }

  .navbar-links a {
    width: 80px;
    font-size: 14px;
  }

  .service-area-image {
    width: 500px;
    height: auto;
  }

  .service-wrapper {
    flex-direction: column;
  }

  .service-text-container {
    border-right: none;
    border-bottom: #7c99ff 3px dotted;
    width: 90%;
  }

  .service-counties {
    width: 90%;
  }

  .contact--section {
    flex-direction: column;
    padding-top: 50px;
  }

  .contact-text {
    max-width: 90%;
  }

  .contact--form--container {
    width: 90%;
    padding: 0;
  }

  .contact-container{
    align-items: center;
    justify-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contact-button {
    width: 90%;
    font-size: 16px;
    padding: 0;
    margin: 5px;
  }

  .contact-container {
    width: 250px;
    margin-right: 0px;
  }

  .logo-text {
    font-size: 28px;
  }
}

@media screen and (max-width: 480px) {
    .logo-text {
    font-size: 20px;
    padding: 3px;
  }
  
  .logo {
    width: 50px;
  }
}
