@font-face {
  font-family: "Gadugi";
  src: url(../src/assets//fonts//GADUGI.TTF);
}

@font-face {
  font-family: "Gadugi-Bold";
  src: url(../src/assets//fonts//GADUGIB.TTF);
}

:root {
  --primary-color: #7c99ff;
  --secondary-color: #b3b3b3;
  --tertiary-color: #f0f0f0;
  --dark-color: #333;
  --dark-color-2: #555;
  --light-color: #f1eded;
}

/* Global Styling */
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  font-size: 45px;
  font-family: "Stint";
  font-family: "Gadugi", Raleway Dots, cursive;
}

h2 {
  font-size: 30px;
  color: #333;
}

h3 {
  font-size: 1.2em;
  color: #333;
}

h4 {
  font-size: 24px;
  color: #333;
}

h5 {
  font-size: 0.8em;
  color: #333;
}

h6 {
  font-size: 0.6em;
  color: #333;
}

p {
  font-size: 1.2em;
  color: #333;
  line-height: 28px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: #333;
}

.btn {
  background-color: #7c99ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 60px;
  width: max-content;
  font-size: 30px;
  margin: 0 20px;
  font-weight: bold;
}

/* Header Styling */
.header {
  background-color: var(--dark-color-2);
  width: 100%;
  height: 80px;
  margin: 0;
  display: flex;
  align-items: center; /* Removed duplicate 'align-items' */
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  margin-left: 5px;
}

.logo {
  width: 70px;
}

.text-container {
  display: block;
  line-height: 45px;
  letter-spacing: 3px;
  background-color: var(--dark-color);
  border-radius: 10px;
  margin-left: 5px;
  box-shadow: 10px 10px 1px rgb(41, 41, 41);
}

.logo-text {
  color: var(--primary-color);
  margin: 0;
  padding: 3px;
  font-weight: bolder;
  max-height: 70px;
}

.fb-icon {
  height: 60px;
}

.header-contact-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Navbar Styling */
.navbar {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
  margin: 0 auto;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #7c99ff;
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

.navbar-hidden {
  opacity: 0;
  pointer-events: none;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #7c99ff;
  z-index: 1;
  border-radius: 0 0 15px 15px;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: px;
  align-items: center;
}

.navbar-links a,
.navbar-links > div {
  color: white;
  font-family: "Gadugi-Bold";
  max-width: 100px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
}

.navbar-links > *:hover {
  color: #333;
  background-color: var(--light-color);
  border-radius: 10px;
}

/* Carousel Styling */
.carousel-item img {
  height: 40vh;
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

.hero-block {
  margin-top: -50px;
  margin-bottom: 5vh;
}

.testimonial-block .carousel > a > .carousel-control-next-icon,
.carousel-control-prev-icon {
  background-image: none;
}

.testimonial-block {
  margin-top: 50px;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
  padding: 10px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.testimonial-card {
  background-color: var(--light-color);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 10px 10px 1px rgb(41, 41, 41);
  height: max-content;
}

.testimonial-description {
  font-size: 1.2em;
  color: #333;
  line-height: 28px;
  letter-spacing: 2px;
}

.testimonial-name {
  font-size: 1.2em;
  color: #333;
  line-height: 28px;
  letter-spacing: 2px;
}

/* Service Area Styling */
.service-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 2s ease;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.service-text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  padding: 50px;
  border-right: #7c99ff 3px dotted;
  transition: all 2s ease;
}

.service-area-image {
  flex-shrink: 0;
  flex-grow: 1;
  width: 100%;
  height: auto;
  max-width: 550px;
  max-height: 100%;
  border-radius: 50%;
  margin: 50px;
  object-fit: contain;
  padding: 25px;
}

.service-counties {
  margin: 25px 0 25px 25px;
}

/* Services Styling */
.services-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 20px 0;
}

.service {
  display: grid;
  place-items: center;
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  background-color: #d7d7d7;
  border-radius: 10px;
  transform: translateX(100px);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.service.show {
  transform: translateX(0);
  opacity: 1;
}

.service h2 {
  font-size: 24px;
  color: #333;
  justify-self: start;
}

/* FAQ Styling */
.accordion {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 10vh;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark-color-2);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

/* Contact Me Styling */
.contact--section {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px 10px 0 0;
}

.contact--form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin: 25px 5px;
}

.contact--container {
  display: flex;
  margin: 25px auto;
  width: 90vw;
  border-radius: 10px 10px;
  background-color: var(--light-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-details {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 90%;
}

.contact--label {
  letter-spacing: 2px;
  font-size: 1.2em;
  flex: 1 1 auto;
  margin-bottom: 25px;
  flex-direction: column;
  width: 150px;
  margin: 5px;
}

.contact--label > div {
  width: 100%;
}

.contact-container label > input {
  border-radius: 5px;
  width: 100%;
}

.contact-text {
  border-radius: 10px;
  max-width: 40%;
}

.contact-text p {
  font-size: 1.2em;
  color: #242424;
  line-height: 28px;
  letter-spacing: 2px;
  padding: 10px;
}

.contact-text h2 {
  font-size: 50px;
  color: #242424;
  padding: 10px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
  margin: 5px auto;
  padding: 0 10px;
}

.contact--input {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  margin-top: 5px;
}

.input-text {
  margin-bottom: 5px;
}

.contact--form--btn {
  align-items: center;
  margin: 25px auto;
}

/* Footer Styling */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-color);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.footer-links,
.footer-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  height: 100%;
}

.footer-links a,
.footer-links div {
  color: white;
  font-family: "Gadugi-Bold";
  width: 100px;
  text-align: center;
}

.footer-links a:hover {
  color: #333;
  background-color: var(--light-color);
  border-radius: 10px;
}

.footer-contact p,
.footer-contact p a {
  font-size: 13px;
  color: var(--light-color);
  margin: 0;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.eric {
  justify-content: space-around;
  align-items: center;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .contact-button {
    width: 150px;
    font-size: 20px;
    height: 50px;
  }

  .contact-container {
    width: 250px;
  }

  .logo-text {
    font-size: 38px;
  }

  .navbar {
    width: 80%;
  }

  .service-area-image {
    max-width: 500px;
    height: auto;
    margin: auto;
  }

  .service-wrapper {
    flex-direction: column;
  }

  .service-text-container {
    border-right: none;
    border-bottom: #7c99ff 3px dotted;
    width: 90%;
  }

  .service-counties {
    width: 90%;
  }

  .contact-text {
    max-width: 90%;
  }

  .contact-container {
    align-items: center;
    justify-items: center;
    width: 100%;
  }

  .contact--label {
    width: 90%;
  }

  .contact--label-message {
    flex: 2;
  }
}

@media screen and (max-width: 900px) {
  .contact-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 5px;
  }

  .contact-container > label {
    width: 200px;
  }

  .header-contact-container {
    margin-left: 5px;
  }

  .contact-button {
    margin: 0;
  }

  .accordion {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contact-button {
    font-size: 16px;
    padding: 0;
    width: 125px;
  }

  .contact-container {
    margin-right: 0px;
  }

  .contact--input {
    font-size: 16px;
  }

  .contact-wrapper {
    flex-direction: column;
  }

  .logo-text {
    font-size: 28px;
  }

  .service-text-container {
    padding: 0;
  }

  .service-area-iamge {
    width: 400px;
  }

  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .logo-text {
    font-size: 18px;
    padding: 3px;
    width: 145px;
  }

  .logo {
    width: 50px;
  }

  .contact-button {
    width: 100px;
    font-size: 16px;
  }

  .header-contact-container {
    width: 175px;
  }

  .service {
    width: 90%;
  }

  .service h2 {
    font-size: 24px;
  }

  .service p {
    font-size: 18px;
  }

  .contact-container > label {
    max-width: 173px;
  }

  contact--label.-message,
  .contact--label-message > textarea {
    width: 80vw;
  }

  .contact--label > span {
    padding-right: 30px;
  }

  .testimonial-block {
    width: 95vw;
  }

  .testimonial-description {
    font-size: 1em;
  }

  .testimonial-name {
    font-size: 1em;
  }

  .testimonial-city {
    font-size: 1em;
  }

  .testimonial-cta {
    font-size: 1.7em;
  }
}
